    p{
     color:orange;   
    }
    
    .paragrafo{
        color:rgb(0, 247, 255);   
    }

    #paragrafoUnico{
        color:rgb(255, 0, 230) !important;   
    }

    table {
        text-align: center;
        margin: 40px auto;
        font-size: 1.25em;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        overflow: hidden;
    }

    #loading {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
      }
  
      /* Estilo do spinner */
      .spinner {
        border: 8px solid rgba(255, 255, 255, 0.3); /* Borda transparente */
        border-top: 8px solid #fff; /* Cor da parte giratória */
        border-radius: 50%;
        width: 80px;
        height: 80px;
        animation: spin 5s linear infinite;
      }
  
      /* Animação de rotação */
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }